@page {
  size: 6.125in 9.250in;
  margin-top: 0.6in;
  margin-bottom: 0.6in;
  margin-left: 0.5in;
  margin-right: 0.5in;

  @bottom-center {
    content: counter(page);
    font-family: Georgia, serif;
    font-size: 0.8rem;
    margin-bottom: 0.2in;
  }
}

body {
    font-family: 'Gill Sans';
    font-size: 0.8rem;
}

.page {
    page-break-after: always;
}

.two-per-page .figure {
    display: table;
    width: 100%;
    margin-bottom: 0.2in;
}

.two-per-page .figure .picture {
    display: table-cell;
    vertical-align: middle;
    width: 3.125in;
}

.two-per-page .figure .picture img {
    max-width: 3.125in;
    max-height: 3.9in;
}

.two-per-page .figure .caption {
    display: table-cell;
    vertical-align: middle;
    padding-left: 0.15in;
    page-break-inside: avoid;
}
